{% extends 'base.html.twig' %}

{% block title %}Gestión Stock{% endblock %}

{% block body %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <style>
        label {
        display: inline-block;
        width: 100px;
        text-align: right;
        }

    </style>

    <div class="row">
        <div class="col-12 text-center">
            <h1>Gestión Stock</h1>
            <hr>
            <form action="{{ path('login') }}" method="post">
                <br>
                <img class="img-fluid" src="https://www.ambientum.com/wp-content/uploads/2019/02/reciclaje-logo-696x696.png" style="width: 20%">
                <br>
                <br>
                <div class="block">
                    <label for="username">Email:</label>
                    <input type="text" id="username" name="_username" value="{{ last_username }}"/>
                </div>
                <div class="block">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="_password"/>
                </div>
                {# If you want to control the URL the user is redirected to on success
                <input type="hidden" name="_target_path" value="/account"/> #}
                <br>
                <button class="btn-primary" type="submit" style="border-radius: 10px">Login</button>
                <br>
                <br>
            </form>
        </div>

        <div class="col-12 text-center">
            {% if error %}
                <div><h5 style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</h5></div>
            {% endif %}
        </div>
    </div>
{% endblock %}
